<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839253492103-j1g52samkcsd74mhjp8d8jk9kvr9oh7r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839253492103-j1g52samkcsd74mhjp8d8jk9kvr9oh7r</string>
	<key>API_KEY</key>
	<string>AIzaSyBKVpIw-PmO9B9i_LDGMtdKqB9guSrjyzQ</string>
	<key>GCM_SENDER_ID</key>
	<string>839253492103</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.db25.jainMetals</string>
	<key>PROJECT_ID</key>
	<string>jainmetals-b875f</string>
	<key>STORAGE_BUCKET</key>
	<string>jainmetals-b875f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839253492103:ios:c72fc0eb9507c44c1e9322</string>
	<key>DATABASE_URL</key>
	<string>https://jainmetals-b875f-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>